<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.standard.dao.DriverMapper">
  <resultMap id="BaseResultMap" type="cn.standard.pojo.Driver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="drivername" jdbcType="VARCHAR" property="drivername" />
    <result column="driverphone" jdbcType="VARCHAR" property="driverphone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, drivername, driverphone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from driver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.standard.pojo.Driver">
    insert into driver (id, drivername, driverphone
      )
    values (#{id,jdbcType=INTEGER}, #{drivername,jdbcType=VARCHAR}, #{driverphone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.standard.pojo.Driver">
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="drivername != null">
        drivername,
      </if>
      <if test="driverphone != null">
        driverphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="drivername != null">
        #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driverphone != null">
        #{driverphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.standard.pojo.Driver">
    update driver
    <set>
      <if test="drivername != null">
        drivername = #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driverphone != null">
        driverphone = #{driverphone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.standard.pojo.Driver">
    update driver
    set drivername = #{drivername,jdbcType=VARCHAR},
      driverphone = #{driverphone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>